<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="/stylesheets/css/sb-admin-2.min.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <%- include("../partials/sidebar.ejs") %>

      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%- include("../partials/nav.ejs") %>
          <div class="container">
            <h1 class="text-center mb-5 mt-2">Data Kapal</h1>
            <form action="/kapal/update/<%= id %>" method="POST">
              <div class="mb-3">
                <label for="nama" class="form-label">Nama Kapal</label>
                <input type="text" class="form-control" name="nama_kapal" value="<%= nama_kapal %>" required />
              </div>
              <div class="mb-3">
                <label for="nama" class="form-label">nama pemilik</label>
                <select class="form-select" aria-label="Pilih Tingkat Keahlian" name="id_pemilik" required>
                  <% for(var i=0; i < dataPemilik.length; i++){ %> <% if(dataPemilik[i].id_pemilik === id_pemilik){ %>
                  <option value="<%= dataPemilik[i].id_pemilik %>" selected><%= dataPemilik[i].nama_pemilik %></option>
                  <% } else { %>
                  <option value="<%= dataPemilik[i].id_pemilik %>"><%= dataPemilik[i].nama_pemilik %></option>
                  <% } %> <% } %>
                </select>
              </div>
              <div class="mb-3">
                <label for="nama" class="form-label">nama dpi</label>
                <select class="form-select" aria-label="Pilih Tingkat Keahlian" name="id_dpi" required>
                  <% for(var i=0; i < dataDpi.length; i++){ %> <% if(dataDpi[i].id_dpi === id_dpi){ %>
                  <option value="<%= dataDpi[i].id_dpi %>" selected><%= dataDpi[i].nama_dpi %></option>
                  <% } else { %>
                  <option value="<%= dataDpi[i].id_dpi %>"><%= dataDpi[i].nama_dpi %></option>
                  <% } %> <% } %>
                </select>
              </div>
              <div class="mb-3">
                <label for="nama" class="form-label">Nama Alat Tangkap</label>
                <select class="form-select" aria-label="Pilih Tingkat Keahlian" name="id_alat_tangkap" required>
                  <% for(var i=0; i < dataAlatTangkap.length; i++){ %> <% if(dataAlatTangkap[i].id_alat_tangkap === id_alat_tangkap){ %>
                  <option value="<%= dataAlatTangkap[i].id_alat_tangkap %>" selected><%= dataAlatTangkap[i].nama_alat_tangkap %></option>
                  <% } else { %>
                  <option value="<%= dataAlatTangkap[i].id_alat_tangkap %>"><%= dataAlatTangkap[i].nama_alat_tangkap %></option>
                  <% } %> <% } %>
                </select>
              </div>

              <div class="mb-3">
                <button type="submit" class="btn btn-sm btn-success">Simpan</button>
              </div>
            </form>
          </div>
          <%- include("../partials/foot.ejs") %>
        </div>
      </div>
    </div>
  </body>
</html>
